<div class="container">
    <div class="row">
        <div class="col-8 form-page">
            <div class="heading">
                <h3 class="font-family-Nunito">
                    Subscribe
                </h3>
                <p class="font-family-Nunito">
                    to our Monthly Surprise Box
                </p>
            </div>
            <form class="row g-3">
                <h3 class="font-family-Nunito">
                    Contact Information
                </h3>
                <div class="col-12">
                    <label for="inputName" class="form-label">Your Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="@ Osama Althsari">
                </div>
                <div class="col-md-12">
                    <label for="inputEmail4" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="Osama Althsari@gmail.com">
                </div>
                <h3 class="font-family-Nunito">
                    Child Information
                </h3>
                <div class="col-12">
                    <label for="inputName" class="form-label">Child's Full Name</label>
                    <input type="text" class="form-control" id="inputName" placeholder="@ Osama Althsari">
                </div>
                <div class="col-md-3">
                    <label for="inputState">Child's Date Of Birth</label>
                    <select id="inputState" class="form-select">
                        <option selected>Date</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputState" class="form-label"></label>
                    <select id="inputState" class="form-select">
                        <option selected>Month</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="inputState" class="form-label"></label>
                    <select id="inputState" class="form-select">
                        <option selected>Year</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-12">
                    <label for="inputState" class="form-label">Grade</label>
                    <select id="inputState" class="form-select">
                        <option selected>eg Grade2</option>
                        <option>...</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">Gender</label>
                    <input type="checkbox" class="btn-check" id="btn-check-2-outlined" checked autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btn-check-2-outlined" style="width: 100%;">Boy</label>
                </div>
                <div class="col-md-6">
                    <label for="inputState" class="form-label">.</label>
                    <input type="checkbox" class="btn-check" id="btn-check-3-outlined" checked autocomplete="off">
                    <label class="btn btn-outline-secondary" for="btn-check-3-outlined"
                        style="width: 100%;">Girl</label>
                </div>

                <h3 class="font-family-Nunito">
                    As a parent select any three topics
                </h3>
                <div class="col-md-2"><input type="checkbox" class="btn-check" id="btn-check-5" checked
                        autocomplete="off">
                    <label class="btn" for="btn-check-5">Arabic</label>
                </div>
                <div class="col-md-2"><input type="checkbox" class="btn-check" id="btn-check-4" checked
                        autocomplete="off">
                    <label class="btn" for="btn-check-4">Islamic</label>
                </div>
                <div class="col-md-2"><input type="checkbox" class="btn-check" id="btn-check-3" checked
                        autocomplete="off">
                    <label class="btn" for="btn-check-3">English</label>
                </div>
                <div class="col-md-2"><input type="checkbox" class="btn-check" id="btn-check-2" checked
                        autocomplete="off">
                    <label class="btn" for="btn-check-2">History</label>
                </div>
                <div class="col-md-2"><input type="checkbox" class="btn-check" id="btn-check-1" checked
                        autocomplete="off">
                    <label class="btn" for="btn-check-1">Sports</label>
                </div>
                <button class="button">Continue to Payment</button>
            </form>
        </div>
        <div class="summary col-4 font-family-Nunito">
            <div class="heading2">
                <h5 class="font-family-Nunito">
                    Surprise
                </h5>
                <p class="font-family-Nunito">
                    to our Monthly Surprise Box
                </p>
            </div>
            <div class="box">
                <div class="product">
                    <h6>Mystery Box</h6>
                    <p class="sub-detail">x{{Quantity}}</p>
                </div>
                <div class="price">
                    <h6>SAR 248</h6>
                    <p class="sub-detail">Monthly</p>
                </div>
            </div>
            <div class="cost">
                <div class="charges-summary">
                    <p>Subtotal</p>
                    <h6 class="values">SAR 246</h6>
                </div>
                <div class="charges-summary">
                    <p>Shipping</p>
                    <p class="values">Free</p>
                </div>
                <div class="charges-summary-2">
                    <p>Taxes</p>
                    <h6 class="values">SAR 4.0</h6>
                </div>
                <div class="charges-summary-2">
                    <p>Total</p>
                    <h6 class="values">SAR 248,00</h6>
                </div>
            </div>
        </div>
    </div>
</div>